@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.transaction-container {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.transaction-form {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 25%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-form {
  width: 100%;
}

.transaction-history {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 75%;
  height: 80vh;
  overflow-y: auto;
}

.transaction-history div {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.input-container label {
  margin-bottom: 1rem;
}

.input-container input,
.input-container button {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.input-container button {
  margin-top: 0.6rem;
  cursor: pointer;
}

.error-container {
  color: red;
}