<div class="transaction-container">
  <div class="transaction-form-container">
    <h2>Submit new transaction</h2>
    <div class="transaction-form">
      <SubmitForm />
    </div>
  </div>
  <div class="transaction-history-container">
    <h2>Transaction history</h2>
    <div class="transaction-history">
      {{#each this.model as |transaction|}}
        <div>
          <TransactionTile @transaction={{transaction}} />
        </div>
      {{/each}}
    </div>
  </div>
</div>